
body {
    background: #aee9ae
  }

h1 {
    text-align: center; background: #98fb98;
}

h2 {
    text-align: center;
}

#foto {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
  }
  #frase {
    font-size: 25px
  }

  strong {
  color: #224222; 
  }