
body {
    background: #aee9ae
  }

h1 {
    text-align: center; background: #c7fcc7;
}

h2 {
    text-align: left;
}

#foto {
    display: flex;
    justify-content: center;
}

p {
    text-align: left; 
  }
  #frase {
    font-size: 25px
  }

  strong {
    text-align: center;
  color: #224222; 
  }